@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');

:root{
    --main-color: #e44d23;
    --black-color: #121212;
    --border: 0.1rem solid rgba(255,255,255,0.4);
}

/*! base html codes */
html{
    font-size: 50.0%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: #fff;
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--black-color);
}

body{
    background-color: var(--main-color);
    height: 200vh;
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease-out;
}

section{
    padding: 3.5rem 7%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font: size 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.heading{
    color: #fff;
    text-transform: uppercase;
    font-size: 3.7rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
}

.heading span{
    color: var(--black-color);
    text-transform: uppercase;
}

.menu-category{
    text-transform: uppercase;
}

/*! header section start */
.header .logo img {
    height: 10rem;
}

.header{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a{
    margin: 0 2rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;

}

.header .navbar .active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}

/*! header section end */

/*! home section start */
.home{
    min-height: 100vh;
    background: url(../images/home.jpg)no-repeat;
    background-size: cover;
    background-position: center;    
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    color: #fff;
}

.home .content p{
    font-size: 2rem;
    font-weight: 270;
    line-height: 1.8;
    padding: 1rem 0;
    color: #fff;
}
/*! home section end */

/*! menu section start */
.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem,1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    padding: 3rem;
    background-color: #fff;
    border-radius: 3rem;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu .box-container .box .menu-category{
    font-size: 1.2rem;
}

.menu .box-container .box h3{
    font-size: 2.7rem;
    padding: 3rem 0;
}

.menu .box-container .box img{
    width: 100%;
    object-fit: cover;
}

.menu .box-container .box .price{
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.0rem;
    font-weight: 300;
    text-decoration: line-through;
}
/*! menu section end */

/*! products section start */
.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem,1fr));
    gap: 1.5rem;
}

.products .box-container .box{
    text-align: center;
    background-color: #fff;
    position: relative;
    border-radius: 3rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}

.products .box-container .box-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}

.products .box-container .dark-bg .box-head .menu-category,
.products .box-container .dark-bg .box-head .product-heading{
    color: #fff;
}

.products .box-container .box .image img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
}

.products .box-container .dark-bg img{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    transform: unset;
}

.products .box-container .box .box-head .product-heading{
    font-size: 2.7rem;
    padding: 0.5rem 0;
    text-align: start;
    overflow-wrap: anywhere;
}

.products .box-container .box-bottom{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.products .box-container .box-bottom .info{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.products .box-container .box-bottom .info .price{
    font-size: 3rem;
} 

.products .box-container .box-bottom .info .amount{
    font-size: 1.4rem;
} 

.products .box-container .dark-bg .box-bottom .info .amount{
    color: #fff;
    font-size: 1.4rem;
} 
/*! products section end */

/*! about-us section start */
.about-us .row{
    color:#fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(3rem,1fr));
    gap: 1.5rem;
}

.about-us img{
    display: flex;
    width: 100%;
}

.about-us .row h2{
    font-size: 3rem;
    padding-bottom: 2rem;
}

.about-us .row p{
    font-size: 1.5rem;
    color: #ffffff96;
    padding-bottom: 2rem;
}

/*! products section end */

